@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;500;600;700&family=Inter:wght@400;500;600&display=swap");

@theme {
  --default-font-family: "Inter", system-ui, sans-serif;
  --font-heading: "Exo 2", sans-serif;
}
@layer base {
  body {
    @apply bg-linear-to-br from-[#03010c] via-[#0a062b] to-[#07072c] bg-fixed min-h-screen text-gray-100 antialiased;
    position: relative;
  }
}

body {
  position: relative;
  overflow-x: hidden;
}

/* Основной фон с неоновой сеткой */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -2;
  background-image:
    linear-gradient(to right, rgba(168, 85, 247, 0.06) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(168, 85, 247, 0.06) 1px, transparent 1px);
  background-size: 60px 60px; /* размер ячеек сетки */
  pointer-events: none;
}

/* Дополнительный мягкий градиент для глубины */
body::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: -1;
  background: radial-gradient(
    circle at 50% 30%,
    rgba(139, 92, 246, 0.08) 0%,
    transparent 60%
  );
  pointer-events: none;
}

/* Полностью скрываем стандартный курсор */
*,
body,
html {
  cursor: none !important;
}

/* Основной курсор */
#custom-cursor {
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1); /* плавное увеличение */
}

#cursor-main {
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Trail dots */
.trail-dot {
  position: absolute;
  width: 6px;
  height: 6px;
  background: #c026d3;
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 12px #a855f7;
  opacity: 0.6;
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

/* Дополнительно для интерактивных элементов */
a,
button,
input,
textarea,
[role="button"],
label {
  cursor: none !important;
}
:root {
  --header-height: 80px;
}

html.lenis,
html.lenis body {
  height: auto !important;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

/* Важно для твоей структуры */
#app,
#scroll-container {
  overflow: visible !important;
}

.swiper {
  width: 100%;
  height: 100%;
  padding-block: 40px !important;
}

.swiper-slide {
  /* Начальное состояние: все слайды затемнены */
  opacity: 0.6;
  scale: 1;
  transition: opacity 0.5s ease !important;
  transition: scale 0.5s ease !important; /* Плавность */
  filter: blur(1px); /* Дополнительный эффект размытия */
}

.swiper-slide-active {
  /* Состояние активного слайда */
  opacity: 1;
  scale: 1.1;
  filter: none;
}

#prev1 {
  margin-left: -10%;
}
#next1 {
  margin-right: -10%;
}
